
<div class="jumbotron jumbotron-fluid bg-info text-white">
        <div class="container">
            <h1><span class="spanWelcome">{{title}}</span></h1>
            <p>STEPS international project ...</p>        
        </div>
    </div>    
    <div class="container">
        <div class="card mb-3">
            <h5 class="card-header">Socket IO</h5>
            <div class="card-body">
                <h5 class="card-title">Move The Logo</h5>
                <div class="text-center row">
                    <div class="col-sm-12 col-lg-12 mt-3 mb-3">
                        <button id="AUTO" onclick="BTNClick(this)" class="mx-auto w-100 p-3 bg-info text-white">Move</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="card mb-3">
            <h5 class="card-header">Current Direction:</h5>
            <div class="card-body">
                <h5 class="card-title" id="CD"></h5>
                <div id="divSubscription"></div> 
            </div>
        </div>   

        <div class="row">
            <div class="col-md-12 col-lg-12">
                <div class="card mb-3">
                    <h5 class="card-header">Video monitoring</h5>
                <img id="img" class="card-img-top img-fluid">
                <div class="card-block p-2">
                    <h3 class="card-title">Webcam</h3>
                    <p>Live webcam video...</p>
                </div>
            </div>
        </div>
    </div>
    <p>
        Special thanks to J. Lakiere for making this project possible...
    </p>
        